<div id='side-nav'>
	<div id='side-nav-head' class='header-item'>UNFOLLOWD</div>
	<div id='side-nav-wrapper' class='vertical-scroll-only'>
		<ul class='side-nav-list'>
			<li class='side-nav-list-item list-header'>MAIN</li>
			<li class='side-nav-list-item'>
				{{#link-to 'user.index' classNames='side-nav-link'}}Followers{{/link-to}}
			</li>
			<li class='side-nav-list-item'>Unfollowers</li>
			<li class='side-nav-list-item'>
				{{#link-to 'user.settings' classNames='side-nav-link'}}Settings{{/link-to}}
			</li>
		</ul>
		<ul class='side-nav-list'>
			<li class='side-nav-list-item list-header'>COMPANY</li>
			<li class='side-nav-list-item'>Help</li>
			<li class='side-nav-list-item'>
				{{#link-to 'user.feedback' classNames='side-nav-link'}}Feedback{{/link-to}}
			</li>
		</ul>
	</div>
	<div id='user-info-box' class='group'>
		<img {{bind-attr src=model.prof_pic_original}} class='user-profile-pic block-middle'>
		<div class='user-info block-middle'>
			<div class='name ellipse-text'>{{model.name}}</div>
			<div class='handle ellipse-text'>{{model.handle}}</div>
		</div>
		<i class='fa fa-chevron-up pull-right user-menu-toggle' {{action 'toggleUserMenu'}}></i>
		<div id='user-menu' {{bind-attr class="show_user_menu:show:hide"}}>
			<a href='/auth/logout' id='logout-link'><i class='fa fa-sign-out'></i>Sign Out</a>
		</div>
	</div>

</div>